/*대충 이것 저것 따라 해보고 구현된 모습 보면서 조정하기*/

.detail-poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding-bottom: 50%;

  background-repeat: no-repeat;
  background-position: center;
}

.home-button {
  width: 50px;

  background-color: var(rgb(0, 102, 255));

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-section {
  margin-top: 30px;
}

.comment-form {
  border: 1px solid var(gray);
  padding: 15px;
}

.comment-form input {
  height: 35px;
  border: none;
  border-bottom: 1px solid var(gray);

  outline: none;
}

.comment-user-box {
  display: flex;
  gap: 15px;
}

.comment-submit-box {
  display: flex;
  gap: 15px;

  margin-top: 15px;
}

.comment-content {
  flex: 1;
}

.comment-submit {
  width: 50px;

  background-color: var(rgb(0, 102, 255));

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-list {
  margin-top: 30px;
}

.comment-item {
  padding: 15px 0;
}

.comment-delete {
  padding: 0;
  border: none;

  background-color: transparent;
}
