body {
  background: url('https://miricanvas.zendesk.com/hc/article_attachments/900002143643/___________________5_.png')
    center/cover no-repeat;
  min-height: 100vh;
}

.mybox {
  background-color: whitesmoke;
  width: 95%;
  max-width: 1000px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin: 30px auto;
  border-radius: 10px;
  text-align: center;
}

.mybox > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
  /* min-height: 48px; */
}

.mybox > li > h2 {
  max-width: 75%;
  font-size: 20px;
  font-weight: 500;
  /* margin-right: auto; */
  margin-bottom: 0px;
}

.mybox > li > h2.done {
  text-decoration: line-through;
}
.mybox > img {
  border: 3px solid gold;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.homeButton {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.movie-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  width: 300px;
  justify-self: center;
  background-color: bisque;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

/*대충 이것 저것 따라 해보고 구현된 모습 보면서 조정하기*/

.detail-poster {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  padding-bottom: 50%;

  background-repeat: no-repeat;
  background-position: center;
}

.home-button {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-section {
  margin-top: 30px;
}

.comment-form {
  border: 1px solid var(gray);
  padding: 15px;
}

.comment-form input {
  height: 35px;
  border: none;
  border-bottom: 1px solid var(gray);

  outline: none;
}

.comment-user-box {
  display: flex;
  gap: 15px;
}

.comment-submit-box {
  display: flex;
  gap: 15px;

  margin-top: 15px;
}

.comment-content {
  flex: 1;
}

.comment-submit {
  width: 50px;

  background-color: var(green);

  border: none;

  color: whitesmoke;

  cursor: pointer;
}

.comment-list {
  margin-top: 30px;
}

.comment-item {
  padding: 15px 0;
}

.comment-delete {
  padding: 0;
  border: none;

  background-color: transparent;
}
